@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom scrollbar */

html {
  scroll-behavior: smooth;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b98786 #2a1a17;
}
.scrollbar::-webkit-scrollbar { width: 10px; height: 10px; }
.scrollbar::-webkit-scrollbar-track { background: transparent; }
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #b98786;
  border-radius: 999px;
  border: 2px solid rgba(0,0,0,0.2);
}

/* optional hero custom clip */
.hero-clip {
  clip-path: path('M0 0 H320 Q360 0 360 40 V360 Q360 400 320 400 H0 Z');
}


html.dark {
  background: #1A0F0A;
  color: #fffffe;
}

html.light {
  background: #f6f6f6;
  color: #1A0F0A;
}